.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 2px;

  position: fixed;
  z-index: 1; /* to make header appear above position: relative; styled elements 'occuring' after the header */
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white; /* since the position: fixed; style makes the element float above the webpage */
  border-bottom: 1px solid rgb(226, 226, 226);
}

.left-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
} /* flex-box only affects elements one level down */

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.hamburger-menu:hover,
.youtube-logo:hover {
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  margin-top: 4px;
  max-width: 480px;
  min-width: 200px;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
} /* default value of flex-direction is row */

.search-bar {
  flex: 1; /* to make the search box stretch and contract with the window size */
  padding-left: 12px;
  height: 37px;
  width: 30px;

  font-size: 16px; /* the size of font being typed into the search bar */

  display: flex;
  border: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.05);

  transition: border 240ms;
}

.search-bar:focus {
  outline: none;
  border: 1px solid rgb(25, 108, 196);
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button {
  height: 40px;
  width: 64px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(240, 240, 240);

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;

  transition: background-color 200ms;
}

.search-button:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  bottom: -30px;
  background-color: rgba(45, 45, 45, 0.64);

  color: white;
  font-size: 12px;

  padding: 4px 8px 4px 8px;
  border-radius: 2px;

  pointer-events: none; /* to disable any pointer events on the tool tip */
  opacity: 0;
  transition: opacity 240ms;
  white-space: nowrap; /* to avoid text to wrap to multiple lines */
}

.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  bottom: -40px;
} /* to make the tooltips appear levelled across the header */

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
} /* :hover is a pseudo-class */

.search-icon {
  height: 25px;
  padding-right: 4px;
}

.voice-search-button {
  background-color: rgb(245, 245, 245);
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
}

.voice-search-button:hover,
.upload-icon:hover,
.youtube-apps-icon:hover,
.notifications-icon:hover,
.notifications-count:hover,
.current-user-picture:hover {
  cursor: pointer;
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 192px;
  min-width: 160px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} /* the flex-shrink set to 0 to avoid shrinkage of spacing between icons */

.notifications-icon,
.youtube-apps-icon,
.upload-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -4px;
  right: -8px;
  background-color: rgb(203, 0, 0);

  border-radius: 50%;
  border: 2px solid white;

  width: 17px;
  height: 16px;
  padding-top: 2px;
  padding-left: 0.5px;

  font-family: Roboto, Arial;
  font-size: 11px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.current-user-picture {
  height: 36px;
  width: 36px;
  object-fit: cover;
  border-radius: 50%;
}
